<section class="first-visit-message-box">
  <h2 id="giveaway-close">X</h2>
  <h2>First Time Visit Promo - Register to Win a Free Tent!</h2>
  <p>
    Welcome to SleepOutside, your premier online camping gear shop! Register now
    on our site before November 30, 2023 and you'll be entered to win a free
    2-person backpacking tent in our new visitor giveaway. We sell quality
    tents, sleeping bags, hammocks, backpacks and more to make your next
    adventure easy and enjoyable. Register today to unlock special discounts and
    be the first to know about new gear and sales!
  </p>
  <input type="button" value="Register" name="giveaway" id="giveawayBtn" />
</section>
